<p class = "quote">“Budgeting is not just for people who do not have enough money. 
It is for everyone who wants to ensure that their money is enough.” – Rosette Mugidde Wamambe</p>

<footer>
      <p class='foot-note'> website created  by Brenda Wihogora</p>
     <p class='foot-note'>Original design idea by Gregoire Vella on Behance.</p>
    </footer>
 